body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    color: white;
    position: relative;
    background-color: #080808;
    background-image: radial-gradient(rgba(95, 95, 95, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-panel {
    width: 250px;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgba(45, 45, 45, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(75, 75, 75, 0.12);
  }
  .select-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 10px;
  }
  select, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
  }
  button {
    background: #27ae60;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover {
    background: #2ecc71;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(20, 50px);
    gap: 5px;
    padding: 10px;
    position: absolute;
    cursor: grab;
    top: 20px;
    left: 300px;
    background: rgba(45, 45, 45, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(75, 75, 75, 0.12);
  }        
  .grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7.5px;
    font-weight: bold;
    padding: 0.25px;
    text-align: center;
    color: black;
    min-height: 50px;
    min-width: 50px;
  }
  .grid .black {
    background: #000;
    color: transparent;
  }
  .grid .start {
    background: #27ae60;
    color: white;
  }
  .grid .end {
    background: #e74c3c;
    color: white;
  }
  .grid .path {
    background: #f1c40f !important;
    color: white;
  }
  .reset-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
  }
  .reset-button:hover {
    background-color: #c0392b;
  }
  