/* Grid stílus */
.grid {
    display: grid;
    grid-template-columns: repeat(10, 40px); /* 5 oszlop */
  }

  /* Cellák alap stílusai */
  .cell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
  }

  /* Obstacle (akadály) stílusa */
  .cell.obstacle {
    background-color: black;
  }

  /* Path (út) stílusa */
  .cell.path {
    background-color: lightgreen;
  }